
/* Dashboard components --------------------------------------- */
.dash-components {
  margin: auto;
  width: 80%;
}

.stats {
  
}

.click {
  display: flex;
  justify-content: space-around;
}


.btn:hover {
  background-color: #da364a;
}

.btn:active {
  background-color: #6d1b25;
}

.btn {
  background-color: grey;
}

.calc-modal {
  background: rgb(214, 213, 213);
  color: white;
  width: 33%;
  position: absolute;
  left: 33%;
  height: 40%;
  padding: 5px 30px;
  top: 25%;
}

@media screen and (max-width: 1040px) {
  .calc-modal {
  height: 44%;
  width: 45%;
  left: 27.5%
  }
  }

  @media screen and (max-width: 560px) {
  .calc-modal {
  width: 50%;
  left: 25%
  }
  }


  @media screen and (max-width: 470px) {
  .calc-modal {
  width: 80%;
  left: 10%
  }
  }

.calc input {
  width: 40%;
}

.weight-label {

}

.reps-label {
}


.max-calc-weight-inputs {
  /* margin: 20px !important;
  width: 40px !important; */
}

.max-calc-reps-inputs {
  /* margin: 20px !important;
  width: 40px !important; */
}

.new-max {
  font-size: 24px;
  justify-self: center;
  align-self: center;
}

.input-form {
  margin-left: 20px;
}

/* Graph Component ------------------------------------------------------ */

.graph-component {
  height: 400px;
  width: 800px;
  padding-top: 30px;
}

.pie-chart {
  height: 800px;
  background-color: white;
}
