/* Header component -------------------------------------------------*/

.flex-container {
  display: flex;
}

.header {
  padding: 75px 0 0 0;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  height: 400px;
}

.line {
position: absolute;
width: 100%;
height: 0px;
top: -30px;
border: 2px solid #5C9EAD;
}

.signOut {
  position: absolute;
  font-size: 18px;
  top: -265px;
  color: #326273;
}

.signOut button:active {
  font-size: 19px;
}

.logo {
position: absolute;
top: 0px;
object-fit: contain;
width: 450px;
height: 412px;
left: calc(50% - 225px);
}

.logo img {
position: absolute;
object-fit: contain;
top: -50px;
width: 450px;
height: 412px;
}

.header__icons {
width: 100%;
height: 35px;
justify-content: space-between;
font-family: Amaranth;
font-style: normal;
font-weight: bold;
line-height: normal;
position: relative;
top: 200px;
}

.header__icons--color {
  font-size: 24px;
  color: #326273 !important;
}

.header__icons button {
  border: none;
  background-color: transparent;
}

.header__icons button:hover {
  color: #E39774;
}

.header__icons button:active {
  color: #E39774;
  font-size: 25px;
  text-shadow:
   -1px -1px 0 #5C9EAD,  
    1px -1px 0 #5C9EAD,
    -1px 1px 0 #5C9EAD,
     1px 1px 0 #5C9EAD;
}









/* Footer component -------------------------------------------------*/
