.user-components {
  background-color: rgba(238, 238, 238, 0.9);
  height: 40%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 2rem;
  padding: 2rem;
}

.user-components button {
  border: none;
  background: none;
  color:  #E39774;
  position: relative;
  left: calc(50% - 42 px);
}

.user-components button:hover {
  background: #5C9EAD;
  color: white;
}

@media screen and (max-width: 950px) {
  .user-components {
    font-size: 1.8rem;
    width: 70%;
    left: 15%;
  }
}

@media screen and (max-width: 635px) {
  .user-components {
    font-size: 1.6rem;
    width: 80%;
    left: 10%;
  }
}

.settings-modal {
  display: flex;
  margin: 10% 15%;
  overflow: auto;
  background: rgb(214, 213, 213);

  width: 70%;
  height: 80%;
}

.update-settings {
  padding: 2rem;
}

.MuiFormGroup-root-16 {
  display: flex !important;
  flex-direction: row !important;
}

.MuiFormControl-root-5 {
  margin-top: 3rem !important;
}

.MuiRadio-colorSecondary-178.MuiRadio-checked-175 {
  color: #E39774 !important;
}

.MuiButtonBase-root-37 {
  color: #E39774 !important;
}
